/* line 5, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.links_index_form input[type=submit] {
  margin-top: 10px;
}

/* line 9, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.title-word {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

/* line 15, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.hidden {
  opacity: 0;
  position: absolute;
  left: -5000px;
}

/* line 21, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
span.link {
  position: relative;
}

/* line 26, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
span.link input.title-input {
  width: 550px;
}

/* line 30, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
span.link input.author-input {
  width: 100px;
}

/* line 34, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.del {
  text-decoration: line-through;
  color: #900;
}

/* line 39, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
#ready {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 45, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
#ready span {
  cursor: pointer;
  font-weight: bold;
  color: #aaa;
  padding: 5px 10px;
  box-sizing: border-box;
  background: #eee;
}

/* line 54, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
#ready span.ready {
  background: #aea;
  color: #062;
}

/* line 59, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.edit-link {
  cursor: pointer;
  font-weight: bold;
  color: #00b;
}

/* line 65, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.url {
  color: orange;
}

/* line 69, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.url_open_frame {
  position: absolute;
  top: -20px;
  margin-left: -82px;
  display: none;
}

/* line 79, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.flagged {
  background: #ff9;
}

/* line 83, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.flaggedspan label {
  display: inline-block;
}

/* line 87, F:/links-handler/workspace/app/assets/stylesheets/links.scss */
.hide {
  display: none;
}
/* line 1, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, F:/links-handler/workspace/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 6, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.new_sites_table thead .toggle-checkboxes {
  cursor: pointer;
  text-decoration: underline;
}
/* line 12, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.new_sites_table tbody tr {
  background-color: #ef8;
  position: relative;
}
/* line 16, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.new_sites_table tbody .filled {
  background-color: #4ea;
}
/* line 19, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.new_sites_table tbody .deselected {
  background-color: #e85;
}
/* line 22, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.new_sites_table tbody td {
  padding: 7px 5px;
}
/* line 25, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.new_sites_table tbody td.submitted {
  position: absolute;
  left: 20px;
  right: 0;
  height: 31px;
  text-align: center;
  background: rgba(68, 238, 170, 0.6);
  color: white;
}

/* line 37, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.sites_table {
  clear: both;
  position: absolute;
}
/* line 40, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.sites_table tr:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

/* line 45, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.sites_index_header_link {
  margin-right: 12px;
  float: left;
}

/* line 50, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.sites_index_header_link:first-child {
  clear: left;
}

/* line 54, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.show_backups_link {
  cursor: pointer;
  float: left;
  clear: right;
}

/* line 60, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.sites_backup_link {
  float: left;
  clear: left;
  display: none;
}

/* line 66, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.sites_index_header_link, .show_backups_link {
  font-size: 1.2em;
  text-decoration: underline;
}

/* line 71, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.backup_links {
  float: left;
  clear: both;
  display: inline-block;
  overflow: auto;
  margin-top: 5px;
}

/* line 80, F:/links-handler/workspace/app/assets/stylesheets/sites.scss */
.new_site_link {
  float: right;
  font-size: 1.2em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

* {
  box-sizing: border-box;
}

/* html {
  height: 100vh;
} */

body {
    position: relative;
    margin: 0;
    padding: 20px;
}

.footer_nav_link:not(:last-child) {
  margin-right: 8px;
}

#notice {
  margin-top: 0;
}

.site_mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(40,40,40,0.6);
  display: none;
}

.site_mask_x {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  color: white;
  background: rgba(0,0,0,0.4);
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.preview_site {
  position: absolute;
  padding: 20px;
  width: 800px;
  height: 90vh;
  background: white;
  top: 40px;
  left: calc(50% - 350px);
  box-shadow: 1px 1px 3px 2px rgba(20,20,20,0.5);
}

.preview_site iframe {
  width: 100%;
  height: 100%;
}

.preview_site iframe * {
  transform: scale(0.7);
}
