// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.links_index_form input[type=submit] {
  margin-top: 10px;
}

.title-word {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    position: absolute;
    left: -5000px;
}

span.link {
  position: relative;
}

span.link.flagged.length {
  background: #ff9;
}

span.link.flagged.manual {
  background: #f77;
}

span.flaggedmessage {
  border-radius: 3px;
  background: yellow;
  box-shadow: 0 0 2px 1px rgba(20,20,20,0.3);
}

span.link input.title-input {
    width: 550px;
}

span.link input.author-input {
    width: 100px;
}

.del {
    text-decoration: line-through;
    color: #900;
}

#ready {
    position: absolute;
    top: 10px;
    right: 10px;
}

#ready span {
    cursor: pointer;
    font-weight: bold;
    color: #aaa;
    padding: 5px 10px;
    box-sizing: border-box;
    background: #eee;
}

#ready span.ready {
    background: #aea;
    color: #062;
}

.edit-link {
    cursor: pointer;
    font-weight: bold;
    color: #00b;
}

.url {
    color: darkgray;
}

.url_open_frame {
  position: absolute;
  top: -20px;
  margin-left: -88px;
  display: none;
  background: rgba(255,255,255,0.8);
  padding: 3px;
}

.url:hover .url_open_frame {
}

.flaggedspan label {
  display: inline-block;
}

.hide {
    display: none;
}
