// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_sites_table {
  thead {
    .toggle-checkboxes {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  tbody {
    tr {
      position: relative;
    }
    tr td {
      background-color: #ef8;
    }
    .filled td {
      background-color: #4ea;
    }
    .deselected td {
      background-color: #f75;
    }
    td {
      padding: 7px 5px;
    }
    td.submitted {
      position: absolute;
      left: 20px;
      right: 0;
      height: 31px;
      text-align: center;
      background: rgba(68, 238, 170, 0.6);
      color: white;
    }
    td.warning {
      background-color: #f97;
      display: none;
    }
  }
}

.sites_table {
  clear: both;
  position: absolute;
  tr:not(:last-child) {
    border-bottom: 1px solid #bbb;
  }
}

.sites_index_header_link {
  margin-right: 12px;
  float: left;
}

.sites_index_header_link:first-child {
  clear: left;
}

.show_backups_link {
  cursor: pointer;
  float: left;
  clear: right;
}

.sites_backup_link {
  float: left;
  clear: left;
  // display: none;
}

.sites_index_header_link, .show_backups_link {
  font-size: 1.2em;
  text-decoration: underline;
}

.backup_links {
  float: left;
  clear: both;
  display: inline-block;
  overflow: auto;
  margin-top: 5px;
  display: none;
  // transition: 0.4s margin-bottom;
}

.new_site_link {
  float: right;
  font-size: 1.2em;
}

.url {
    color: black;
}

.url_open_frame {
  position: absolute;
  margin-left: -75px;
  display: none;
  background: rgba(255,255,255,0.98);
  padding: 5px;
  z-index: 10;
}
