<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

    <div class="site_mask">
      <!-- <span class="preview_failure">< @site_preview_url[0..30] if @site_preview_url.present? %>... denies external access.</span> -->
      <div class="preview_site">
      </div>
      <div class="site_mask_x">&#10006;</div>
    </div>
  </body>
</html>
